bin/
lib/
lightning_logs/
data/
share/

pyvenv.cfg
lib64

*~
\#*
*\#
.\#*
*.csv
*.xml
*.json
*.log
*.toc
*.pdf
*.out
*.aux
*.bbl
*.blg
*.hst
*.ver
*.png
*.nav
*.bcf
*.snm
*.pptx
*.pickle
*.svg

__pycache__/